{%  extends 'app_wagntails/owner_main.html' %}
{% load static %}
{% block content %}

<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <a class="btn btn-warning" href="{% url 'home' %}"> &#8592; Back to Profile</a>
            <hr>
            <h3 style="text-align: center">Account Settings</h3>
            <hr>
            <!--            <img class="profile-pic" src="{{request.user.owner.profile_pic.url}}">-->

        </div>
    </div>
    <div class="col-md">
        <div class="card card-body">
            <h5>Owner:</h5>
            <hr>
            <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'account' %}">Update Owner</a>
            <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'create_dog' owner.id %}">Add Dog</a>
            <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'volunteers' owner.id %}">Lookup
                Volunteers</a>
        </div>
    </div>

    <div class="col-md">
        <div class="card card-body">
            <h5>Contact Information</h5>
            <hr>
            <p>Email: {{owner.email}}</p>
            <p>Phone: {{owner.phone}}</p>
        </div>
    </div>
</div>


<br>
<br>

<div class="row">
    <div class="col-md-6">
        <div class="card card-body">

            <form action="" method="POST">
                {% csrf_token %}
                {{ form.management_form }}
                {% for field in form %}
                <!-- <div class="col-md-3">
                    <div class="card card-body">
                        <label for="{{ field.profile_pic.id_for_label }}">Dog Photo:</label>
                        <img class="profile-pic" src="{{field.profile_pic.url}}" >
                    </div>
                </div> -->
                <div class="fieldWrapper">
                    <label for="{{ field.name.id_for_label }}">Dog Name:</label>
                    {{ field.name }}
                </div>
                <div class="fieldWrapper">
                    <label for="{{ field.breed.id_for_label }}">Dog Breed:</label>
                    {{ field.breed }}
                </div>
                <div class="fieldWrapper">
                    <label for="{{ field.status.id_for_label }}">Dog Status:</label>
                    {{ field.status }}
                </div>
                <div class="fieldWrapper">
                    <label for="{{ field.city.id_for_label }}">Owner's City:*</label>
                    {{ field.city }}
                </div>
                <div class="fieldWrapper">
                    <label for="{{ field.note.id_for_label }}">Notes:</label>
                    {{ field.note }}
                </div>
                <hr>
                {% endfor %}
                <input type="submit" name="Submit">
            </form>

        </div>
    </div>
</div>


{% endblock %}