{%  extends 'app_wagntails/owner_main.html' %}

{% block content %}

<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Volunteers</h5>
        </div>
        <div class="card card-body">
            <table class="table">
                <tr>
                    <th>Volunteer</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Days</th>
                    <th>Time</th>
                </tr>

                {% for i in volunteers %}
                <tr>
                    <td>{{i.name}}</td>
                    <td>{{i.phone}}</td>
                    <td>{{i.email}}</td>
                    <td>{{i.day_pref}}</td>
                    <td>{{i.time_pref}}</td>
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>

</div>

{% endblock content %}