{%  extends 'app_wagntails/volunteer_main.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-md-3">
        <div class="card card-body">
            <a class="btn btn-warning" href="{% url 'homeVolunteer' %}"> &#8592; Back to Profile</a>
            <hr>
            <h3 style="text-align: center">Account Settings</h3>
            <hr>
            <img class="profile-pic" src="{{request.user.volunteer.profile_pic.url}}">

        </div>
    </div>
</div>


<br>
<br>

<div class="row">
    <div class="col-md-6">
        <div class="card card-body">

            <form action="" method="POST">
                {% csrf_token %}

                <div class="row">
                    <div class="col-md">
                        <div class="card card-body">
                            <h5>Dogs</h5>
                        </div>
                        <div class="card card-body">
                            <table class="table">
                                <tr>

                                    <th>Dog</th>
                                    <th>Breed</th>
                                    <th>Owner</th>
                                    <th>Phone</th>
                                    <th>Status</th>
                                </tr>

                                {% for i in dogs %}
                                <tr>
                                    <td>{{i.name}}</td>
                                    <td>{{i.breed}}</td>
                                    <td>{{i.owner}}</td>
                                    <td>{{i.owner.phone}}</td>
                                    <td>{{i.status}}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>

                </div>
                <input type="submit" name="Submit">
            </form>

        </div>
    </div>
</div>


{% endblock %}